/App/SmartRefrigerator/nbproject/private/
/App/SmartRefrigerator/build/
/App/SmartRefrigerator/dist/
/SmartRefrigerator/nbproject/private/
/SmartRefrigerator/build/
/SmartRefrigerator/dist/
/Server/nbproject/private/
/RemoteInterface/nbproject/private/
/RemoteInterface/build/
/RemoteInterface/dist/
/Server/build/
/Server/dist/
/Client/nbproject/private/
/Client/dist/
/Client/build/
/Fridge/nbproject/private/
/Fridge/build/